.inputHeading
{
    color: "#052F5F";
    font-size: 14px;
    font-weight: 700;
}

.textInput{
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #8E959F;
    height: 56px;
}